GITHUB_TOKEN=XXXX
GITHUB_USERNAME=XXXX
GITHUB_GHCR_TOKEN=XXXX
COSIGN_PASSWORD=XXXX
QUAY_USERNAME=XXXX
QUAY_TOKEN=XXXX
DOCKERHUB_USERNAME=XXXX
DOCKERHUB_TOKEN=XXXX
SNYK_TOKEN=XXXX

SN_NOTE="LLM Prompts"
SN_CREDENTIAL="Simplenote"
SN_USERNAME="username"
SN_PASSWORD="password"
